html, body {
    margin: 0;
    padding: 0;
}

#google-logo {
    margin: auto;
    display: block;
    padding-top: 109px;
}

#search-bar {
    margin: 30px auto 0 auto;
    display: block;
    width: 600px;
    height: 40px;
}

#top-nav {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 30px;
    top: 10px;
}

#top-nav a:hover {
    color: #333;
    text-decoration: underline;
}

#top-nav a {
    text-decoration: none;
    color: #000;
    padding-right: 5px;
}

#search-buttons {
    width: 600px;
    margin: 40px auto 0 auto;
    text-align: center;
}

#footer-nav {
    position: absolute;
    bottom: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer-nav a:hover {
    color: #333;
    text-decoration: underline;
}

#footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #ddd;
}

#footer-nav li {
    float: left;
}

#footer-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    padding: 14px 16px;
}

#footer-nav-right li {
    float: right;
}
